language: node_js
sudo: false
cache:
  yarn: true
  directories:
    - node_modules
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
node_js:
  - "7"
before_install:
  - npm install -g yarn
  - yarn setup
install:
  - webpack
script:
  - yarn test
  - yarn start
