language: node_js 
sudo: false 
cache: 
  yarn: true 
  directories: 
    - node_modules 
addons: 
  apt: 
    sources: 
      - google-chrome 
    packages: 
      - google-chrome-stable 
node_js: 
  - "6.10.3" 
before_install: 
  - npm install -g yarn
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start 
install: 
  - yarn setup 
script: 
  - yarn provision
  - yarn setup:test
  - yarn test 